body {
    background-color:#1335a3; 
    font-family: Arial, Helvetica, sans-serif;
}

div.topHeader {
    display: flex;
    justify-content: space-evenly;
}

#headIcon {
    width:65px; 
    float:left;
}

a.navLink {
    float:right;
    margin: 0px 10px 0px 10px;
    width: 140px;
    text-align: center;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 130%;
    text-decoration: none;
    padding: 5px;
}

a.navLink:hover {
    background-color: #fff;
    color: #1335a3;
    border-radius: 9px 9px 0px 0px
}

div.bkgrdBox {
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius:9px;
    background-color:#fff;
    min-height:100vh;
    padding: 10px;
}

div.header {
    background-color: #1335a3;
    text-align:center;
    color:#fff;
    font-size: 150%;
    border-radius: 9px 9px 0px 0px;
    padding: 3px 0px 3px 0px;
}

p.introText {
    font-size: 1.2em;
}

div.infoBox {
    padding: 5px;
    border-radius: 9px;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

div.leftBox {
    width: 58%; 
    min-width: 58%;
    margin: 5px;
}

div.rightBox {
    width: 38%; 
    min-width: 38%;
    margin: 5px;
}

p.infoText {
    padding: 0px 5px 0px 5px;
}

footer {
    margin-top: 20px;
    color: #fff;
    padding: 0px 10px 0px 10px;
}

#navCurrent {
    background-color: #fff;
    color: #1335a3;
    border-radius: 9px 9px 0px 0px
}

div.fullBox {
    width: 96%; 
    min-width: 96%;
    margin: 5px;
}

.infoContent {
    width: 96%;
    padding: 10px;
}

div.infoContainer {
    display:flex; 
    justify-content:space-evenly;
    flex-wrap: wrap;
}

div.navBar {
    display:flex; 
    justify-content:right; 
    align-items:stretch;
}

.imgRestrictor {
    display:flex; 
    justify-content:center;
}

div.bodyTop {
    display:flex; 
    justify-content: center;
}

div.centerRestrictor {
    width:60%;
}

#logotypeRestrictor {
    display:flex;
    justify-content:center;
}

#logotype {
    width:75%;
}

div.halfBox {
    width: 47%; 
    min-width: 46%;
    margin: 5px;
}

ul.navBarNew {
    list-style-type: none;
    margin: 0;
    margin-left: 80px;
    padding: 0;
    width: 100%;
    overflow: hidden;
    
}

.navBarNew li {
    float: right;
}

.navBarNew a {
    display: block;
    padding: 8px;
    color: #fff;
    text-align:center;
    padding: 20px 24px;
    text-decoration: none;
}

.navBarNew a:active {
    background-color: #40c8d3;
}

.navBarNew a:hover, .dropdown:hover .dropbtn{
    background-color: #fff;
    color: #1335a3;
}

.navBarContainer {
    display: inline-block;
    width: 100%;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1335a3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}

.dropdown-content a {
    color: #fff;
    padding: 20px 24px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #fff;
    color: #1335a3;
}
.dropdown:hover .dropdown-content {
    display: block;
}